
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


body{
    border: 150px;
    /*background-color: black;*/
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: 1550px 790px;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    /*filter: blur(8px);*/
}
.heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color:white;
    margin-bottom: 5px;
}
.container{
     text-align: center;
     padding: 10%;
}
.bg-img{
    /*background-color: blueviolet;*/
    background-image: url(360_F_233142339_2XkJuFHLndXZoohWWkNzA9wYSIiGstJk.jpg);
    background-repeat: no-repeat;
    background-size: 1060px 670px;
    background-position: center;
}
.input{
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 80px;
    border: 2.5px solid black;
    border-radius: 8%;
    font-size: 190%;
}

.button1{
  width: 204.5px;
  padding: 0%;
  background-color: rgb(240, 239, 179);
  border: 2.5px solid black;
    border-radius: 8%;
    cursor: pointer;
}
.button2{
    width: 100px;
    padding: 0%;
    background-color:greenyellow;
    border: 2.5px solid black;
    border-radius: 8%;
    cursor: pointer;
}
.button3{
    width: 100px;
    padding: 0%;
    background-color: rgb(241, 12, 73);
    border: 2.5px solid black;
    border-radius: 8%;
    cursor: pointer;
}
.button{
    width: 100px;
    padding: 0%;
    background-color: rgb(240, 239, 179);
    border: 2.5px solid black;
    border-radius: 8%;
    cursor: pointer;
}
.row1{
    margin: 4px;
}